body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.plot-container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.plot-container h1 {
    margin-bottom: 10px;
}

.plot-container > div {
    margin-top: 20px;
}